@charset "UTF-8";
.margen {
  padding-left: 0%;
  padding-right: 0%; }

.header {
  background: linear-gradient(20deg, #000046 5%, #3b9da2 55%, #1884a2 100%);
  border-bottom-style: solid;
  border-bottom-color: #1d97dd; }

.navbar-brand {
  color: #ffffff;
  font-style: italic;
  font-size: 4.2rem;
  font-weight: 900;
  margin-left: 50px;
  text-shadow: 2px 4px 5px #000000; }
  .navbar-brand:hover {
    color: #ffffff; }

.navbar-nav .nav-link.active {
  color: #dbfaff; }

.nav-link:focus, .nav-link:hover {
  color: #dbfaff; }

.nav li {
  display: inline-block;
  font-size: 25px;
  font-weight: 600; }
  .nav li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 5px #033138; }

.footer {
  border-top-style: solid;
  border-top-color: #1d97dd;
  background: linear-gradient(45deg, #000046 40%, #1884a2 100%);
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "logo suscripcion redes" "nameLogoFooter correo copy"; }

.logoFooter {
  grid-area: logo;
  align-self: end;
  justify-self: center; }
  .logoFooter img {
    height: 130px;
    width: 100%; }

.nameLogoFooter {
  grid-area: nameLogoFooter;
  justify-self: center; }

.suscripcion {
  grid-area: suscripcion;
  margin: auto;
  display: block; }
  .suscripcion p {
    line-height: 35px;
    color: #dbfaff;
    text-shadow: 2px 4px 5px #000000; }

.correo {
  grid-area: correo; }
  .correo label {
    display: none; }
  .correo input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }

.correoBoton {
  color: #ffffff;
  background: #28867a;
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.5rem; }

.redesFooter {
  display: block;
  text-align: center;
  grid-area: redes; }
  .redesFooter h6 {
    color: #000000; }

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: copy; }
  .copyright img {
    height: 30px;
    padding: 0 5px; }
  .copyright h6 {
    padding: 0 20px; }

.botonRedes, .botonRedes--facebook, .botonRedes--instagram, .botonRedes--twitter, .botonRedes--youtube, .botonRedes--tiktok {
  background: none;
  border-style: none;
  font-size: 1.7rem;
  margin: 25px 10px 0px 10px;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .botonRedes:hover, .botonRedes--facebook:hover, .botonRedes--instagram:hover, .botonRedes--twitter:hover, .botonRedes--youtube:hover, .botonRedes--tiktok:hover {
    cursor: pointer;
    transform: translateY(-3px); }

.botonRedes--facebook {
  color: #3b5998;
  background: white;
  border-radius: 80px; }

.botonRedes--instagram {
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 15px; }

.botonRedes--twitter {
  color: #00acee; }

.botonRedes--youtube {
  color: #FF0000; }

.botonRedes--tiktok {
  color: #000000; }

.fixed-bottom {
  right: 10px;
  left: auto;
  bottom: 10px; }

.whatsApp {
  color: white;
  border-style: 1px solid;
  background: #157347;
  border-radius: 10px;
  border-color: #157347;
  font-size: 2rem;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .whatsApp:hover {
    cursor: pointer;
    transform: translateY(-3px); }

.parallax {
  background-image: url(../images/fondo.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px; }

.tituloMain {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #dbfaff;
  text-shadow: 2px 4px 5px #000000;
  margin-top: 20px; }

.card {
  background: #033138;
  border-radius: 30px;
  padding-top: 20px;
  width: 23rem;
  box-shadow: -5px 2px 4px #1393dd;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .card:hover {
    cursor: pointer;
    transform: translateY(-5px); }

.card-text {
  color: #dbfaff; }

.imgborde {
  border-radius: 50px;
  height: 300px; }

.carrusel img {
  margin: auto;
  width: 180px; }

.fondoCarrusel {
  background: linear-gradient(20deg, #3ec3cc 0%, #055160 100%);
  border-top-style: solid;
  border-top-color: #1d97dd; }

.contenedorNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 0.1fr);
  grid-template-areas: "mainNosotros" "sectionNosotros" "mapa"; }

.mainNosotros {
  margin: 20px 100px;
  text-align: center;
  line-height: 35px;
  grid-area: mainNosotros; }

.sectionNosotros {
  text-align: center;
  grid-area: sectionNosotros; }

.contenedorMapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: mapa; }

.iframeMaps {
  margin: 40px;
  border-radius: 20px;
  box-shadow: -3px -4px 5px #757575; }
  .iframeMaps iframe {
    border-radius: 30px; }

.iframeMaps2 {
  display: none;
  margin: 40px;
  border-radius: 20px;
  box-shadow: -3px -4px 5px #757575; }

.iframeMaps3 {
  display: none;
  margin: 40px;
  border-radius: 20px;
  box-shadow: -3px -4px 5px #757575; }

.horario {
  align-items: center;
  text-align: center; }
  .horario ul {
    list-style-type: none;
    padding: 0; }
    .horario ul li {
      font-size: 20px;
      line-height: 30px; }

.horario__titulo {
  color: #dbfaff; }

.mainServicios {
  text-align: center;
  line-height: 35px; }
  .mainServicios p {
    margin: 0px 100px; }

.cardServicios {
  background: linear-gradient(45deg, #3c5f93 0%, #003c81 100%);
  border-style: solid;
  border-color: #084298;
  border-radius: 30px;
  padding-top: 20px;
  box-shadow: -5px 2px 4px #000046; }

.animacion__1 {
  animation-delay: 0.3s; }

.animacion__2 {
  animation-delay: 0.5s; }

.animacion__3 {
  animation-delay: 0.8s; }

.imgServicios {
  width: 100%;
  height: 160px; }

.subServicios {
  margin-top: 30px;
  margin-left: 50px;
  text-align: center; }
  .subServicios h2 {
    color: #dbfaff;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px #071f24; }
  .subServicios p {
    font-size: 22px;
    line-height: 35px;
    color: #ecfaff;
    text-shadow: 2px 4px 5px #000000; }

.fondoServicios {
  background-image: url(../images/fondoServicios.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: -2px -3px 4px black;
  margin: auto; }

.botonPresupuesto {
  text-align: center; }

.presupuesto {
  background: linear-gradient(0deg, #7f7fd5 0%, #86a8e7 50%, #91eae4 100%);
  color: #000046;
  font-weight: 800;
  border-radius: 10px;
  border-style: none;
  padding: 5px 20px;
  text-shadow: 2px 2px 4px #727272;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .presupuesto:hover {
    cursor: pointer;
    transform: translateY(-3px); }

.contenedorClientes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0.1fr);
  grid-template-areas: "mainClientes" "sectionClientes"; }

.mainClient {
  margin: 20px 100px;
  text-align: center;
  line-height: 35px;
  grid-area: mainClientes; }

.sectionClientes {
  grid-area: sectionClientes; }

.artClient {
  display: flex;
  align-items: center; }

.contenedorReseña {
  margin-right: 20px;
  display: flex;
  align-items: center; }

.avatar {
  display: flex;
  flex-direction: column;
  text-align: center; }

.valoracion {
  text-align: center; }
  .valoracion img {
    height: 55px; }

.mainContacto {
  margin: 20px 100px;
  text-align: center;
  line-height: 35px;
  grid-area: mainServ; }

.formContacto {
  margin-left: 20px;
  margin-bottom: 20px; }

.form label {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 4px 5px #000000; }

.sectionContacto {
  display: flex;
  justify-content: space-around; }

.botonContacto {
  border-style: 1px solid;
  border-color: #00acee;
  border-radius: 10px; }

.contenedorMensaje {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.contenedorMensaje2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.iconosContacto {
  text-align: center; }
  .iconosContacto img {
    height: 100px; }

.mensajeContacto h2 {
  color: #000046;
  text-shadow: 2px 2px 4px #103a41;
  text-align: center;
  animation: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

html {
  font-size: 62,5%; }

/* Body */
body {
  margin: 0%;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(20deg, #000046 0%, #3b9da2 50%, #93f5f9 100%); }

h2 {
  font-size: 2.5rem;
  color: #000046;
  font-weight: 700;
  text-shadow: 2px 2px 4px #103a41; }

h3 {
  font-size: 1.7rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000046; }

h4 {
  color: #ffffff;
  font-size: 1.7rem;
  text-shadow: 2px 4px 5px #000000; }

h5 {
  color: #000000; }

h6 {
  color: #000000; }

p {
  color: #000000;
  font-size: 22px; }

/* Resposive Tablet */
@media screen and (max-width: 768px) {
  /* Body */
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.2rem; }
  h4 {
    font-size: 1.2rem; }
  p {
    font-size: 18px; }
  /* Header*/
  .navbar-brand {
    font-size: 4rem;
    margin-left: 0px; }
  .navbar-toggler {
    margin: auto; }
  .nav li {
    font-size: 20px; }
  .navbar-collapse {
    text-align: center; }
  /* Main */
  .parallax {
    padding: 50px; }
  .tituloMain {
    font-size: 3rem;
    margin-top: 10px; }
  .card {
    width: 18rem;
    transition: none; }
    .card:hover {
      transform: none; }
  .tarjeta div:nth-child(3) {
    display: block;
    margin: auto;
    margin-top: 20px; }
  .imgborde {
    border-radius: 50px;
    height: 250px; }
  .carrusel img {
    margin: auto;
    width: 140px; }
  /* Footer */
  .footer {
    grid-template-columns: 25% 35% 40%; }
  .logoFooter img {
    height: 100px; }
  .suscripcion p {
    line-height: 30px;
    font-size: 14px; }
  .correo input {
    height: 30px; }
  .correoBoton {
    font-size: 19px; }
  .copyright {
    margin-top: 5px; }
    .copyright img {
      height: 20px; }
  .copyright h5 {
    font-size: 12px;
    margin: 0%; }
  .copyright h6 {
    padding: 0 20px;
    margin: 0%; }
  .botonRedes, .botonRedes--facebook, .botonRedes--instagram, .botonRedes--twitter, .botonRedes--youtube, .botonRedes--tiktok {
    font-size: 1.2rem;
    transition: none; }
    .botonRedes:hover, .botonRedes--facebook:hover, .botonRedes--instagram:hover, .botonRedes--twitter:hover, .botonRedes--youtube:hover, .botonRedes--tiktok:hover {
      transform: none; }
  .fixed-bottom {
    right: 10px;
    left: auto;
    bottom: 10px; }
  .whatsApp {
    font-size: 1.4rem;
    transition: none; }
    .whatsApp:hover {
      transform: none; }
  /* Nosotros */
  .mainNosotros {
    margin: 20px 62px;
    line-height: 30px; }
  .contenedorMapa {
    flex-direction: row; }
  .iframeMaps {
    display: none; }
  .iframeMaps2 {
    display: initial; }
    .iframeMaps2 iframe {
      border-radius: 30px; }
  .iframeMaps3 {
    display: none; }
  .horario ul li {
    font-size: 16px; }
  /* Servicios */
  .mainServicios {
    line-height: 30px; }
    .mainServicios p {
      margin: 0px 50px; }
  .tarjetasMargen {
    margin: 20px 50px; }
  .tarjetaServ div:nth-child(1n) {
    margin: 10px; }
  .cardServicios {
    padding-top: 20px;
    opacity: 1;
    transition: none; }
    .cardServicios:hover {
      transform: none;
      opacity: 1; }
  .subServicios {
    margin-top: 60px;
    margin-left: 0px; }
    .subServicios h2 {
      font-size: 1.8rem; }
    .subServicios p {
      font-size: 18px;
      line-height: 30px; }
  .fondoServicios {
    padding: 50px 60px; }
  .presupuesto {
    transition: none; }
    .presupuesto:hover {
      transform: none; }
  /* Clientes */
  .mainClient {
    margin: 20px 62px;
    line-height: 30px; }
  .artClient {
    flex-direction: column;
    margin-bottom: 20px; }
  .avatar img {
    height: 250px;
    width: 100%; }
  .contenedorReseña {
    text-align: center;
    flex-direction: column;
    margin-right: 0px; }
    .contenedorReseña p {
      margin: 20px 62px; }
  .valoracion img {
    width: 100%;
    height: 50px; }
  /* Contacto */
  .mainContacto {
    margin: 20px 62px;
    line-height: 30px; }
  .form label {
    font-size: 18px; }
  .iconosContacto img {
    height: 80px; }
  .contenedorMensaje2 {
    justify-content: space-between; } }

/* Responsive mobile */
@media screen and (max-width: 460px) {
  /* Body */
  body {
    overflow-x: hidden; }
  h2 {
    font-size: 1.7rem; }
  h3 {
    font-size: 1.2rem; }
  h4 {
    font-size: 1.1rem; }
  p {
    font-size: 16px; }
  /* Header*/
  .navbar-brand {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: 0px; }
    .navbar-brand img {
      width: 100px; }
  .navbar-toggler {
    margin: auto; }
  .nav li {
    font-size: 18px; }
  .navbar-collapse {
    text-align: center; }
  /* Main */
  .parallax {
    padding: 40px; }
  .tituloMain {
    font-size: 2rem;
    margin-top: 10px; }
  .card {
    width: 15rem;
    transition: none; }
    .card:hover {
      transform: none; }
  .tarjeta div:nth-child(1n) {
    display: block;
    margin: auto;
    margin-top: 20px; }
  .imgborde {
    border-radius: 20px;
    height: 180px; }
  .carrusel img {
    margin: auto;
    width: 100px; }
  /* Footer */
  .footer {
    background: linear-gradient(180deg, #000046 40%, #114350 75%, #1884a2 100%);
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 0.5fr);
    grid-template-areas: "logo" "nameLogoFooter" "suscripcion" "correo" "redes" "copy"; }
  .logoFooter img {
    height: 100px; }
  .margenAlerta {
    margin: 0px 30px; }
  .suscripcion {
    text-align: center; }
    .suscripcion p {
      line-height: 30px;
      font-size: 16px; }
  .correo input {
    height: 30px; }
  .correoBoton {
    font-size: 18.5px; }
  .copyright {
    margin-top: 5px; }
    .copyright img {
      height: 20px; }
  .copyright h5 {
    font-size: 12px;
    margin: 0%; }
  .copyright h6 {
    padding: 0 20px;
    margin: 0%; }
  .botonRedes, .botonRedes--facebook, .botonRedes--instagram, .botonRedes--twitter, .botonRedes--youtube, .botonRedes--tiktok {
    font-size: 1.2rem;
    transition: none; }
    .botonRedes:hover, .botonRedes--facebook:hover, .botonRedes--instagram:hover, .botonRedes--twitter:hover, .botonRedes--youtube:hover, .botonRedes--tiktok:hover {
      transform: none; }
  .fixed-bottom {
    right: 10px;
    left: auto;
    bottom: 10px; }
  .whatsApp {
    font-size: 1.4rem;
    transition: none; }
    .whatsApp:hover {
      transform: none; }
  /* Nosotros */
  .mainNosotros {
    margin: 20px 62px;
    line-height: 30px; }
  .sectionNosotros {
    margin: 0px 50px; }
  .contenedorMapa {
    flex-direction: row; }
  .iframeMaps {
    display: none; }
  .iframeMaps2 {
    display: none; }
  .iframeMaps3 {
    display: initial; }
    .iframeMaps3 iframe {
      border-radius: 30px; }
  .horario ul li {
    color: #000000;
    font-size: 16px; }
  /* Servicios */
  .mainServicios {
    line-height: 30px; }
    .mainServicios p {
      margin: 0px 50px; }
  .tarjetasMargen {
    margin: 20px 50px; }
  .tarjetaServ div:nth-child(1n) {
    margin: 10px; }
  .cardServicios {
    padding-top: 20px;
    opacity: 1;
    transition: none; }
    .cardServicios:hover {
      transform: none;
      opacity: 1; }
  .subServicios {
    margin-top: 60px;
    margin-left: 0px; }
    .subServicios h2 {
      font-size: 1.8rem; }
    .subServicios p {
      font-size: 18px;
      line-height: 30px; }
  .fondoServicios {
    padding: 50px;
    display: flex;
    flex-direction: column-reverse; }
  .presupuesto {
    transition: none; }
    .presupuesto:hover {
      transform: none; }
  /* Clientes */
  .mainClient {
    margin: 20px 62px;
    line-height: 30px; }
  .artClient {
    flex-direction: column;
    margin-bottom: 20px; }
  .avatar img {
    height: 220px;
    width: 100%; }
  .contenedorReseña {
    text-align: center;
    flex-direction: column;
    margin-right: 0px; }
    .contenedorReseña p {
      margin: 20px 62px; }
  .valoracion img {
    width: 100%;
    height: 40px; }
  /* Contacto */
  .mainContacto {
    margin: 20px 62px;
    line-height: 30px; }
  .form label {
    font-size: 16px; }
  .botonesCont {
    text-align: center;
    margin: 5px 0px; }
  .botonContacto {
    width: 28%; }
  .iconosContacto img {
    height: 80px; }
  .contenedorMensaje2 {
    justify-content: space-around; }
  .mensajeContacto h2 {
    margin: 10px; } }

@media screen and (max-width: 400px) {
  /* Header */
  .navbar-brand {
    font-size: 1.8rem; } }

@media screen and (max-width: 380px) {
  /* Header */
  .navbar-brand img {
    width: 80px; } }
