html{
    font-size: 62,5%;
}

/* Body */
body{
    margin: 0%;
    font-family:'Lato', sans-serif;
    background: linear-gradient(20deg, #000046 0%, #3b9da2 50%, #93f5f9 100%);
}

h2{
    font-size: 2.5rem;
    color: #000046;
    text-shadow: 2px 2px 4px #103a41;
}

h3{
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000046;
}

h4{
    color: #ffffff;
    font-size: 1.7rem;
    text-shadow: 2px 3px 5px black;
}

h5{
    color: #000000;
}

h6{
    color: #000000;
}

p{
    color: #000000;
    font-size: 20px;
}

/* Header */

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}

.header{
    background: linear-gradient(20deg, #000046 5%, #3b9da2 55%, #1884a2 100%);
    border-bottom-style: solid;
    border-bottom-color: #1d97dd;
}   

.navbar-brand{
    color:#ffffff;
    font-style: italic; 
    font-size: 4.2rem;
    font-weight: 900;
    margin-left: 50px;
    text-shadow: 5px 5px 5px #103a41;
}

.navbar-brand:hover {
    color: white;
}

.navbar-nav .nav-link.active{
    color: #deebff;
}

.nav-link:focus, .nav-link:hover {
    color: #deebff;
}

.nav li{
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 5px #033138;
}

/* Index */
/* main index */
.parallax{
    background-image: url(../images/fondo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}  

.tituloMain{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #cdfcff;
    text-shadow: 3px 2px 5px #707070;
    margin-top: 20px;
}

.card{
    background:#033138;
    border-radius:30px;
    padding-top: 20px;
    box-shadow: -5px 2px 4px #1393dd;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.card-text{
    color: #dbfaff;
}
.imgborde{
    border-radius: 50px;
    height: 300px;
}

.carrusel img{
    margin: auto;
    width: 180px;
}

.fondoCarrusel{
    background: linear-gradient(20deg, rgba(62,195,204,1) 0%, rgba(5,81,96,1) 100%);
    border-top-style: solid;
    border-top-color: #1d97dd;
}

/* Section index */

/* Footer */
.footer{
    border-top-style: solid;
    border-top-color: #1d97dd;
    background: linear-gradient(45deg,#000046  40%, #1884a2 100%);
    display: grid;
    grid-template-columns: 30% 10% 20% 40%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "logo contacto formulario redes"
    "nameLogoFooter contacto formulario copy"
    ;
}

.logoFooter{
    grid-area: logo;
    align-self: end;
    justify-self: center;
}

.logoFooter img{
    height: 140px;
    width: 100%;
}

.nameLogoFooter{
    grid-area: nameLogoFooter;
    justify-self: center;
}

.contacto{
    grid-area: contacto;
    transform:rotate(270deg);
    align-self: center;
    justify-self: end;
}

.contactoFooter{
    grid-area: formulario;
}

.contactoFooter img{
    height: 30px;
    width: 30px;
}

.contactoFooter label{
    color: aliceblue;
    text-shadow: 2px 2px 4px black;
}

.contactoFooter input{
    display: block;
    border-style: solid;
    border-color: #16167e;
    border-radius: 10px;
}

.contactoFooter textarea{
    display: block;
    border-radius: 10px;
    border-color: #16167e;
}

.redesFooter{
    text-align: center;
    margin: auto;
    grid-area: redes;
}

.redesFooter h6{
    color: #000000;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: copy;
}

.copyright img{
    height: 30px;
    padding: 0 5px;
}

.copyright h6{
    padding: 0 20px;
}

.form{
    display: flex;
}

.botonesSend{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-left: 5px;
}

.botonSend{
    border-style: none;
    background: none;
    font-size: 2rem;
    color: aliceblue;
}

.botonRedes{
    background: none;
    border-style: none;
    font-size: 2rem;
    margin: 25px 10px 0px 10px;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.botonRedes:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.facebook{
    color: #3b5998;
    background: white;
    border-radius: 80px;
    
}

.instagram{
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 15px;
}

.twitter{
    color: #00acee;
}

/* Nosotros */

.contenedorNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,0.1fr);
    grid-template-areas: 
    "mainNosotros"
    "sectionNosotros"
    "mapa"
    ;
}

.mainNosotros{
    margin: 20px 100px;
    text-align: center;
    line-height: 35px;
    grid-area: mainNosotros;
}

.sectionNosotros{
    text-align: center;
    grid-area: sectionNosotros;
}

.contenedorMapa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: mapa;
}

.iframeMaps{
    margin: 40px;
    border-radius: 20px;
    box-shadow: -3px 4px 5px #000000;
}

.iframeMaps2{
    display: none;
    margin: 40px;
    border-radius: 20px;
    box-shadow: -3px 4px 5px #000000;
}

.iframeMaps iframe{
    border-radius: 30px;
}

.horario{
    align-items: center;
    text-align: center;
}

.horario__titulo{
    color: #ffffff;
}

.horario ul{
    list-style-type: none; 
    padding: 0;
}

.horario ul li{
    font-size: 20px;
    line-height: 30px;
}
   
/* Servicios */

.contenedorServicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,0.5fr);
    grid-template-areas:
    "mainServ"
    "sectionServ"
    "asideServ"
    ;
}

.mainServicios{
    margin: 20px 100px;
    text-align: center;
    line-height: 35px;
    grid-area: mainServ;
}

.sectionServicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: sectionServ;
}

.imgServicios h3{
    text-align: center;
}

.imgServicios img{
    height: 250px;
    width: 100%;
}

.imgServicios__3 img{
    height: 220px;
    width: 80%;
    display: block;
    margin: auto;
}

.subServicios{
    margin: 35px 100px;
    text-align: center;
    grid-area: asideServ;
}

.subServicios p{
    line-height: 35px;
}

/* CLientes */

.contenedorClientes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,0.1fr);
    grid-template-areas: 
    "mainClientes"
    "sectionClientes"
    ;
}

.mainClient{
    margin: 20px 100px;
    text-align: center;
    line-height: 35px;
    grid-area: mainClientes;
}

.sectionClientes{
    grid-area: sectionClientes;
}

.artClient{
    display: flex;
    align-items: center;
}

.contenedorReseña{
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
    top: -35px;
}

.avatar{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.valoracion{
    text-align: center;
}

.valoracion img{
    height: 60px;
}

/* Contacto */

.mainContacto{
    margin: 20px 100px;
    text-align: center;
    line-height: 35px;
    grid-area: mainServ;
}

.formContacto{
    margin-left: 20px;
    margin-bottom: 20px;
}
.formContacto label{
    color: aliceblue;
    text-shadow: 2px 2px 4px black;
}
    
.sectionContacto{
    display: flex;
    justify-content: space-around;
}

.botonContacto{
    border-style: 1px solid;
    border-color: #00acee;
    border-radius: 10px;
}
.contenedorMensaje{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorMensaje2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconosContacto{
    text-align: center;
}

.iconosContacto img{
    height: 100px;
}

.mensajeContacto h2{
    color: #220130;
    text-align: center;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Responsive Tablet */

/* @media screen and (max-width: 768px){

    h2{
        font-size: 2.5rem;
    }
    
    h4{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 18px;
        margin: 20px;
    } */
/* Header*/ 
    /* .header{
        height: 200px;
    }   
    
    .logoHeader img{
        height: 120px;
    }

    .header__titulo{
        font-size: 3rem;
    }
    
    .nav{
        width: 418px;
        margin-top: 0px;
    }
    
    .nav ul li{
        font-size: 18px;
    }
    
    .iconosRedes{
        margin-top: 0px;
    }

    .iconosRedes img{
        height: 35px;
        width: 35px;
        padding: 0px 5px
    } */

/* Main */

    /* .main{
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: repeat(3,0.1fr);
        grid-template-areas:
            "tituloMain tituloMain"
            "tituloMain2 tituloMain2"
            "parrafoMain fotoMain";
    ;
}
    .tituloMain{
        font-size: 1.5rem;
    }

    .mainDiv{
        margin: 10px 30px;
    }
    
    .mainImg{
        grid-area: fotoMain;
        justify-self: center;
        align-self: center;
        height: 80%;
    }
    
    .main img{
        height: 300px;
        width: 100%;
    } */

/* Section */

    /* Article1 */
    /* .article1{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(2,1fr);
        grid-template-areas: 
        "tituloSection1"
        "article1"
        "fotoArt1"
        ;
        padding: 0px 20px 20px 20px;
    }

    .tituloSection1{
        text-align: center;
        padding: left 0px;
    }

    .articleDiv1{
        padding-left: 0px;
        margin-left: 0px;
    }

    .articleImg1{
        justify-self: center;
        width: 400px;
    }

    .article1 img{
        height: 250px;
        width: 85%;
        margin: auto;
        display: block;
    } */
    /* Article2 */
    /* .article2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(2,1fr);
        grid-template-areas: 
        "tituloSection2"
        "article2"
        "fotoArt2"
        ;
        padding: 0px 20px 20px 20px;
    }

    .tituloSection2{
        text-align: center;
        padding: left 0px;
    }

    .articleDiv2{
        padding-left: 0px;
        margin-right: 0px;
    }

    .articleImg2{
        height: 280px;
        width: auto;
        margin: auto;
        display: block;
    }

    .article2 img{
        width: 100%;
        height: 280px;
    } */
    
/* Footer */

    /* .footer{
        height: 300px;
        grid-template-columns: 25% 10% 35% 30%;
        grid-template-rows: 60% 40%;
        grid-template-areas:
        "logo contacto formulario redes"
        "nameLogoFooter contacto formulario copy";
    }

    .logoFooter img{
        height: 140px;
        width: 100%;
    }

    .nameLogoFooter{
        grid-area: nameLogoFooter;
        justify-self: center;
        font-size: 2rem;
    }

    .contacto{
        grid-area: contacto;
        transform: rotate(270deg);
        align-self: center;
        justify-self: center;
    }

    .contactoFooter{
        grid-area: formulario;
        justify-self: center;
        align-self: center;
    }

    .redesFooter{
        text-align: center;
        grid-area: redes;
    }

    .redesFooter img{
        height: 30px;
        width: 30px;
        padding: 0 10px;
    } */

/* Nosotros */

    /* .mainNosotros{
        margin: 20px;
        text-align: center;
        line-height: 35px;
        grid-area: mainNosotros;
    }

    .mainNosotros{
        margin: 20px;
        text-align: center;
    }

    .sectionNosotros{
        text-align: center;
    }

    .contenedorMapa{
        flex-direction: row; 
    }

    .iframeMaps{
        display: none;
    }

    .iframeMaps2{
        display: initial;
    }

    .iframeMaps2 iframe{
        border-radius: 30px;
    }

    .horario ul li{
        font-size: 16px;
    } */

/* Servicios */

    /* .contenedorServicios{
        margin: 0px 0px -50px 0px;
    } */

/* Clientes */

    /* .artClient{
        flex-direction: column;
    }

    .contenedorReseña{
        text-align: center;
        flex-direction: column;
    }

    .contenedorReseña p{
        margin: 0 40px;
    }
 */
/* Contacto */
    
    /* .sectionContacto{
        flex-direction: column;
    }

    .fieldsetContacto{
        width: 50%;
        position: relative;
        left: 18%;
    }

    .contenedorMensaje2{
        justify-content: space-around;
    }
 */
   


/* Responsive mobile */

/* @media screen and (max-width: 500px){

    h2{
        font-size: 1.8rem;
    }
    
    h4{
        font-size: 1rem;
    }
    
    p{
        font-size: 16px;
        margin: 20px;
    } */
/* Header*/ 
    /* .header{
        height: 200px;
    }   
    
    .logoHeader img{
        height: 120px;
        grid-area: logo;
    }
    
    .header__titulo{
        font-size: 2.2rem;
        grid-area: name;
    }
    
    .nav{
        width: 390px;
        grid-area: menu;
        margin-top: -25px;
    }
    
    .nav ul li{
        font-size: 16px;
    }
    
    .iconosRedes{
        grid-area: redes;
        margin-top: -11px;
    }

    .iconosRedes img{
        height: 30px;
        width: 30px;
        padding: 0px 5px
    } */

/* Main */

    /* .main{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,0.1fr);
    grid-template-areas: 
    "tituloMain"
    "tituloMain2"
    "parrafoMain"
    "fotoMain"
    ;
}
    .tituloMain{
        font-size: 1.3rem;
    }
    
    .mainImg{
        grid-area: fotoMain;
        justify-self: center;
        align-self: center;
    }
    
    .main img{
        height: 250px;
        width: 70%;
        margin-top: -30px;
        margin-bottom: 30px;
    } */

/* Section */
    /* Article1 */
    /* .article1{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(2,1fr);
        grid-template-areas: 
        "tituloSection1"
        "article1"
        "fotoArt1"
        ;
        padding: 0px 20px 20px 20px;
    }

    .tituloSection1{
        text-align: center;
        padding: left 0px;
    }

    .articleDiv1{
        padding-left: 0px;
    }

    .articleImg1{
        justify-self: center;
        width: 400px;
    }

    .article1 img{
        height: 250px;
        width: 85%;
        margin: auto;
        display: block;
    } */
    /* Article2 */
    /* .article2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(2,1fr);
        grid-template-areas: 
        "tituloSection2"
        "article2"
        "fotoArt2"
        ;
        padding: 0px 20px 20px 20px;
    }

    .tituloSection2{
        text-align: center;
        padding: left 0px;
    }

    .articleDiv2{
        padding-left: 0px;
    }

    .articleImg2{
        height: 280px;
        width: 70%;
        margin: auto;
        display: block;
    }

    .article2 img{
        width: 100%;
    }
     */
/* Footer */

    /* .footer{
        height: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(2,0.5fr) repeat(3,1fr);
        grid-template-areas: 
        "logo"
        "nameLogoFooter"
        "contacto"
        "formulario"
        "redes"
        "copy"
        ;
    }

    .logoFooter img{
        height: 140px;
        width: 100%;
    }

    .nameLogoFooter{
        grid-area: nameLogoFooter;
        justify-self: center;
        font-size: 2rem;
    }

    .contacto{
        grid-area: contacto;
        transform: rotate(0deg);
        align-self: center;
        justify-self: center;
    }

    .contactoFooter{
        grid-area: formulario;
        justify-self: center;
    }

    .redesFooter{
        text-align: center;
        grid-area: redes;
    }

    .redesFooter img{
        height: 30px;
        width: 30px;
    } */

/* Nosotros */

    /* .contenedorNosotros{
        grid-template-rows: repeat(4,0.1fr);
    }

    .mainNosotros{
        margin: 20px;
        text-align: center;
    }

    .sectionNosotros{
        text-align: center;
    }

    .contenedorMapa{
        flex-direction: column; 
    }

    .iframeMaps{
        display: none;
    }

    .iframeMaps2{
        display: initial;
    }

    .iframeMaps2 iframe{
        border-radius: 30px;
    }

    .horario ul li{
        font-size: 16px;
    }
 */
/* Servicios */

    /* .contenedorServicios{
        grid-template-rows: repeat(3,0.1fr);
        margin: 10px;
    } */

/* Clientes */

   /*  .avatar img{
        height: 250px;
        width: 100%;
    }

    .valoracion img{
        height: 45px;

    }  */

/* Contacto */

    /* .fieldsetContacto{
        width: 50%;
        position: relative;
        left: 2%;
    }

    .iconosContacto img {
        height: 80px;
    }
} */