.contenedorClientes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,0.1fr);
    grid-template-areas: 
    "mainClientes"
    "sectionClientes"
    ;
}

.mainClient{
    margin: map-get($estilosMain, margen);
    text-align: map-get($estilosMain, centro);
    line-height: map-get($estilosMain, espaciado);
    grid-area: mainClientes;
}

.sectionClientes{
    grid-area: sectionClientes;
}

.artClient{
    display: flex;
    align-items: center;
}

.contenedorReseña{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.avatar{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.valoracion{
    text-align: center;
    img{
        height: 60px;
    }
}
