$colorPrincipal: #000046;
$colorSecundario: #ffffff;
$colorPrincipalParrafo:#000000;
$colorSecundarioParrafo: #dbfaff;
$sombra: 2px 4px 5px #000000;
$sombraH2: 2px 2px 4px #103a41;
$sombraH3: 2px 2px 4px #000046;
$sombraCaja: -3px -4px 5px #757575;